.center {
  display: grid;
  place-items: center;
  height: 100vh; /* Vertically center the content */
}

.nowrap {
  white-space: nowrap;
}

body {
  background-image: url('img/bkg.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica;
  transition: background-image 1s ease-in-out;
  margin: 0;
}

.container {
  width: 30%; /* Adjusted width */
  height: auto;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  box-shadow: 0 0 10px rgba(88, 85, 85, 0.5); /* Softer shadow */
  padding: 20px; /* Added padding */
  text-align: center;
}

h2 {
  margin: 0;
  padding-bottom: 20px;
  opacity: 0.8;
  font-size: 20px;
}

input {
  width: 90%;
  height: 40px; /* Adjusted height */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 16px;
}

.btn-1 {
  width: 90%; /* Matching the width of input */
  height: 40px;
  background-color: rgb(78, 130, 226);
  border: 1px solid rgb(78, 130, 226);
  color: whitesmoke;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.dotted {
  border: 1px dotted #ccc;
  opacity: 0.9;
  width: 90%;
  height: 1%;
  margin-top: 20px;
}

.btn-2, .forgot, .btn-3 {
  font-size: 14px;
  margin-top: 20px;
}

.btn-2 button {
  width: 150px;
  height: 40px;
  background-color: rgb(78, 130, 226);
  border: 1px solid rgb(78, 130, 226);
  color: whitesmoke;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.forgot {
  margin-top: 10px;
}

.btn-3 button {
  width: 60px;
  height: 30px;
  background-color: rgb(39, 176, 185);
  color: whitesmoke;
  cursor: pointer;
  border: 1px solid rgb(39, 176, 185);
  text-decoration: none;
  opacity: 0.9;
  border-radius: 4px;
}
